<div class="container" style="padding:2em">
  <h2 style="text-align:center">Portfolio | <%= title %></h2>
  <ul>
    <li class="col-md-8"> <img class="img-responsive" src="<%= img %>" alt=""> </li>
    <li class="col-md-4">
      <div class="project-info">
        <h5><%= header %></h5>
        <p><%= desc %></p>
        <br>
        <br>
        <strong>CLIENT </strong><p> <%= client %></p>
        <strong>DATE </strong><p> <%= date %></p>
        <strong>Category </strong><p> <%= category %></p>
        <a href="<%= href %>" class="btn btn-1">More</a> </div>
    </li>
  </ul>
</div>
